name: Lint

on:
  pull_request:
    paths:
      - '**/*.go'

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Check formatting
        run: |
          make format
          if ! git diff --exit-code; then
            echo "Files are not formatted correctly. Run 'make format' locally and commit changes."
            exit 1
          fi

      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.4.0
          skip-cache: true
          args: --timeout 10m --verbose
        env:
          GOEXPERIMENT: jsonv2 # required for trivy
